*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin-bottom: 0;
    padding: 0;
}

header h1{
    color: #FFD700;
    text-align: center;
    font-size: 4rem; 
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6); 
    margin: 0;
  text-align: center;
}

div h1{
    margin-bottom: 25px;
   text-align: center;
} 


header {
    text-align: center;
    padding: 50px 20px;
    background-color: #2d3e50;
    color: white;
}
header ul{
    display: flex;
 justify-content: center;
 flex-wrap: wrap;
 justify-content: space-evenly;
 margin-top: 12px;
 }
 
 a:hover{
    /* color: #007BFF; */
    color: #FFD700;
   }
    a{
     color: #0056b3;
    }

  h2{
    color: black;
    margin-bottom: 20px;
  }  

    section {
        max-width: 800px;
        margin: 20px auto;
        background-color:#e0f7fa;
        padding: 20px;
        border-radius: 8px;
    }
    label {
        color: black;
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
    }
    textarea, input[type="text"], select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        border: 2px solid black;
    }
    button {
     align-self: center;
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
    button:hover {
        background-color: #45a049;
        transform: scale(1.1);
        box-shadow:0px 10px 20px rgba(0, 0, 0, 0.15);
    }